div .addInputContainer {
    float: right;
}

.addMainInput {
    transition: all .2s ease-in;

    padding: 3px;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(184, 184, 184);
}

.addMainInput:focus {
    outline: none;
    border-color: black;
}
